/* Stylesheet for Philosophy Timeline */



 
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Sanchez:ital@0;1&display=swap');


/* Global default styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Sanchez', serif;;
    font-weight: 300;
	color: #3a3a3a;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
	letter-spacing: 4px;
	color: #252525;
}

#logo {
	float: left;
	font-size:140%;
	margin-left:30px;
}

/* Navigation links */

#menu {
	font-size: 110%;
	letter-spacing:2px;
	float:right;
}

#menu li {
	float: left;
	list-style-type: none;
	margin-right: 30px;
}

/* Footer styling for social media links */

.social-networks {
	text-align: center;

}

.social-networks > li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #3a3a3a;
}