/* Stylesheet for Philosophy Timeline */



 
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Sanchez:ital@0;1&display=swap');


/* Global default styles */

* {
    margin: 0;
    padding: 0;
    border: none;
	box-sizing: border-box;
}

body {
    font-family: 'Sanchez', serif;;
    font-weight: 300;
	color: #3a3a3a;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
	letter-spacing: 2px;
	color: #252525;
}

#logo {
	float: left;
	font-size:140%;
	margin-left:30px;
}

header > a {
	text-decoration: none;
}

/* Navigation links */

#menu {
	font-size: 110%;
	letter-spacing:2px;
	float:right;
}

#menu li {
	display:inline;;
	list-style-type: none;
	margin-right: 30px;
}

#menu a {
	text-decoration: none;
	color:inherit;
}


#menu a:hover {
	border-bottom:1px solid #3a3a3a;
}

#main-content {
	clear:both;
}

/* Styling main content */
.column {
	float: left;
	padding: 10px;
  }
  
  
  #main-image {
	width: 20%;
  }
  
  #timeline-intro {
	width: 33%;
  }
  
  #timeline {
	width: 33%;
  }
  
  /* Clear floats after the columns */
  #main-content:after {
	content: "";
	display: table;
	clear: both;
  }



/* Footer styling for social media links */

.social-networks {
	text-align: center;

}

.social-networks > li {
	display: inline;
}

.social-networks i {
	font-size: 160%;
	margin: 1%;
	padding: 5%;
	color: #3a3a3a;
}